# Scott, By the Numbers

As told by **1,616** timecard entries.

In [88]:
import json
import operator
import locale
from tabulate import tabulate
locale.setlocale(locale.LC_ALL, 'en_US')

def pf(num):
    return "%s" % locale.format("%.2f", num, grouping=True)

In [114]:
with open('query.json', 'r') as jfile:
    data = json.load(jfile)
    data = data['results']['bindings']
    
    print(len(data))

1616

## ‚è≤ 5,955 Hours

In [115]:
total_hours = sum([float(entry['hours']['value']) for entry in data])

print('Total hours')
print(pf(total_hours))

print('\nWork days')
print(pf(total_hours/8))

Total hours
5,955.30

Work days
744.41

## üíµ $171,351.75

(Total earned revenue)

In [91]:
# How much revenue did I earn?
total_earned_rev = sum([float(entry['earnedRev']['value']) for entry in data])

print('$%s' % pf(total_earned_rev))

$171,351.75

## What the hell have I been working on for all those hours?

¬Ø\_(„ÉÑ)_/¬Ø

In [92]:
# Which tasks did I work on the most?
tasks = list(set([entry['projectN']['value'] for entry in data]))
hours_by_task = [(task, sum([float(e['hours']['value']) for e in data if e['projectN']['value'] == task]) ) for task in tasks]

sorted_groupings = sorted(hours_by_task, key=lambda x: 1/x[1])
sorted_groupings = [(p, pf(h)) for (p,h) in sorted_groupings]

print(tabulate(sorted_groupings, headers=['Project', 'Hours']))

Project                                                    Hours
---------------------------------------------------------  --------
Ibeam                                                      1,526.55
Internal Systems                                           689.90
Website                                                    542.15
Research                                                   445.55
OPS to SPO Conversion                                      369.25
Schneider Configuration Support                            312.50
Schneider Ontology and Rules for B&B (Buses and Breakers)  282.65
Governance                                                 261.05
May through July 2016                                      250.10
Vac-PTO-Holiday                                            204.00
Personal Productivity                                      176.10
Clipsal Migration                                          175.95
Carlei                                                     129.10
Travel to Client                                           96.00
Vacation Paid                                              76.00
HR                                                         68.45
McGrawHill-Platts - Phase 2                                52.00
Marketing                                                  38.25
Being Trained                                              35.95
Physician Ontology                                         33.50
DBBO FC 2012                                               30.50
Asthma POC                                                 27.30
SLA Ontology                                               24.25
SemTech                                                    21.00
DBBO DC Winter 2016                                        18.00
DBBO Development                                           17.50
Line of Business                                           16.00
Travel Non Client                                          11.00
System Admin                                               9.00
gist                                                       4.00
Ontology Advisory                                          3.75
Overhead                                                   3.00
Move                                                       2.00
DBBO-Livier-FC-2015                                        2.00
Sales                                                      1.00

By far my main project has been Ibeam, with **1,526.55** logged hours.

In [111]:
# How many hours were spent on Ibeam total?
print(pf(float("4.13146E3")), 'hours to build Ibeam and Nailgun')

4,131.46 hours to build Ibeam and Nailgun

In [113]:
# Scott's share of ibeam
pct = float(1526.55/4131.46) * 100
print('Scott accounted for %.2f%% of Ibeam and Nailgun Development' % pct)

Scott accounted for 36.95% of Ibeam and Nailgun Development

## ...By Sponsor

In [112]:
# Which clients?
clients = list(set([entry['sponsor']['value'] for entry in data]))
hours_by_client = [(client, sum([float(e['hours']['value']) for e in data if e['sponsor']['value'] == client]) ) for client in clients]

sorted_groupings = sorted(hours_by_client, key=lambda x: 1/x[1])
sorted_groupings = [(p, pf(h)) for (p,h) in sorted_groupings]

print(tabulate(sorted_groupings, headers=['Client', 'Hours']))

Client              Hours
------------------  --------
Semantic Arts       4,304.25
Mphasis             1,140.35
Morgan Stanley      250.10
Carlei Wine         129.10
McGrawHill-Platts   52.00
Sentara             33.50
Sagence             24.25
Procter and Gamble  16.00
Broadridge          3.75
DBBO                2.00

* * *
# 8,262

(The number of .py files in in my 'Semantic Arts' folder, which probably includes some libraries)
* * *

### First timecharge:
    
# "filled out paperwork, dave walked me through sparql"

May 16th, 2012, 3 PM

### Last timecharge:

# "wrapping up documentation, cleaning out desk"

August 26th, 2016, 3:30 PM

***

# üç∑ 20

(My guess at the approximate number of nights I've spent drinking wine with you guys on the road)

In [118]:
# We really didn't start doing the swift half thing until Andi came around,
# so I'm going to approximate 2 per month for 3 years

print(3 * 12 *2)

72

# üçª 72

(The approximate number of swifts halves I've taken part in)

In [117]:
# coffee, assuming 4 cups per 8 hour day (rounded)

coffee = total_hours/8 * 4
print(coffee)

2977.6499999999996

# ‚òï 3,000

(The approximate cups of coffee I've drank at Semantic Arts)

***

# ‚úâÔ∏è

## 40,090

The total number of emails in my inbox

## 10,474

From other Semantic Artists